extends layouts/main
include mixins/videoBlock

block contents
    .search__header
        h3 Searching By '#{searchingBy}'
    .search__videos
        if videos.length === 0
            h5 No Video Found
        each video in videos
            +videoBlock({
                id: video.id,
                title: video.title,
                views: video.views,
                videoFile: video.fileUrl
            })